.project-story {
  display: flex;
  flex-direction: column;
  gap: calc(var(--page-padding-vertical) * 1.5);
  font-size: 1.4rem;
  line-height: 2;
}

.project-story strong {
  font-family: var(--font-family-accedent);
}

.project-story .photos {
  width: calc(100% + var(--page-padding-horizontal) * 2);
  margin-left: calc(-1 * var(--page-padding-horizontal));
  margin-right: calc(-1 * var(--page-padding-horizontal));
  padding: var(--page-padding-vertical) var(--page-padding-horizontal);

  display: flex;
  align-items: center;
  gap: var(--page-padding-horizontal);
  background: rgba(0, 0, 0, .2);
}

.project-story .photos.two > div {
  flex: 0 0 calc(50% - var(--page-padding-horizontal) / 2);
}

.project-story .photos.two > div:first-of-type {
  padding: var(--page-padding-vertical) 0;
}

.project-story .photos.two.reversed > div:first-of-type {
  padding: 0;
}

.project-story .photos.two.reversed > div:last-of-type {
  padding: var(--page-padding-vertical) 0;
}

.project-story .photos.two > div > img {
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.project-story .text {
  max-width: 1200px;
}

.project-story .text:first-child {
  margin-top: 0;
}

.project-story .text:last-child {
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .project-story .photos {
    flex-direction: column;
    gap: var(--page-padding-vertical);
  }

  .project-story .photos.two > div:first-of-type {
    padding: 0 var(--page-padding-horizontal);
  }

  .project-story .photos.two.reversed > div:last-of-type {
    padding: 0 var(--page-padding-horizontal);
  }
}
