@import "./styles/morozov.css";
/*@import "./styles/apraksin.css";*/

/* VARIABLES */

:root {
  --page-padding-horizontal: 1rem;
  --page-padding-vertical: 1rem;
}

/* VARIABLES MEDIA */

@media (min-width: 1024px) {
  :root {
    --page-padding-horizontal: 4rem;
    --page-padding-vertical: 3rem;
  }
}

@media (min-width: 1600px) {
  :root {
    --font-size-html: 16px;
    --page-padding-horizontal: 5rem;
    --page-padding-vertical: 4rem;
  }
}

@media (min-width: 1900px) {
  :root {
    --font-size-html: 18px;
  }
}

/* COMMON STYLES */

html {
  font-size: var(--font-size-html);
  font-family: var(--font-family-regular);
  color: var(--color-secondary);
  background: var(--color-background);
}

body {
  position: relative;
  margin: 0;
  line-height: 1.5;
  padding: var(--page-padding-vertical) var(--page-padding-horizontal);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--color-white);
  text-decoration: none;
  transition: all .15s ease;
}

a:hover {
  color: var(--color-primary);
}

button {
  border: none;
  background: none;
  color: var(--color-white);
  font-family: var(--font-family-regular);
  cursor: pointer;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-family-accedent);
  color: var(--color-white);
}
